MYSQL_HOST=mysql.railway.internal
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=AyTFeJjncPlaYsmJFEWBEpLlRfOFAvrM
MYSQL_DATABASE=railway
JWT_SECRET=cambia_esto_por_un_string_largo_random
ADMIN_PASSWORD_HASH=
FRONTEND_URL=https://3d-tatu.vercel.app
PORT=3000
